/* Style inputs with type="text", select elements and textareas */
input[type=text] {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    text-align: center;
    display: inline-block;
  }


  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: 200px;
    margin-bottom: 20px;
    margin: auto 10px;
    text-align: center;
    display: inline-block;
    padding: 10px;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
  }
  
  a {  
    font-size: 20px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    text-align: center;
    display: inline-block;
  }

  td{text-align: left;}
  table{margin: 20px}